.image-upload-container{
margin-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}



.imgbox{
  margin-left: 2rem;
    width:80%;
    height:30rem;
    flex:2;
}

.right-side-container{
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height:30rem;
}

.export-btn-container{
  width: 100%;
  height: 30%;
  text-align: center;
}
a{
  text-decoration: none;
  
}
.export-btn{
   padding:0.5rem 5rem 0.5rem 5rem;
   color: white;
   font-size: 1.5rem;
   width: 8rem;
   height: 2rem;
   background-color: #4B4E9C;
   border-radius: 4px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   -ms-border-radius: 4px;
   -o-border-radius: 4px;
}


.input-click{
  cursor: pointer;
  background-color: #4b4e9c9c;
  border: 5px dotted #4B4E9C;
  width:20rem;
  height: 2rem;
  text-align: center;
  padding: 1rem;
  font-size: 1.4rem;
  color:white;
  font-weight: 500;
}

.file-input{
  display: none;
}

.input-container{
  text-align: center;
}

.done-btn{
  margin-top: 2rem;
  text-align: center;
  outline: none;
  border: none;
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
  padding: 0.8rem;
  background-color: #242bf3;
  cursor: pointer;
  border: 2px solid #242bf3;
}

.done-btn:hover{
  background-color: white;
  color: #242bf3;
  border: 2px solid #242bf3;
}